
#KChat_btn , #KChat_btn #KChat_logo{
	position:fixed;
	width:70px;
	height:70px;
	right:10px;
	bottom:10px;
    cursor: pointer;
	z-index:500;
	display:block;
}

#KChat_box {
	width: 400px;
	height: 550px;
	position: fixed;
	bottom: 0px;
	right: 40px;
	z-index:500;
	display:none;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

#KChat_heading{
    width: 100%;
    height: 10%;
    position: relative;
	background-color:#CABFFF;
}

#KChat_scroll_panel {
	overflow-y: scroll;
	overflow-x: visible;
	width: 100%;
	height: 77%;
	position: relative;
	border:0px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	background-color:#FFF;
}

#KChat_textarea {
	width: 100%;
	height: 10%;
	position: relative;
	background-color:#CABFFF;
}

#kchat_copy {
	width: 100%;
	height: 3%;
	position: relative;
	background-color:#85D4FF;
}

#kchattextarea {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.21);
}

.emojionearea {
	height:100%;
}

#KChat_form{margin: 40px;}
#KChat_form body{background:#59ABE3;margin:0}
#KChat_form h2{margin:10px 0;padding-bottom:10px;width:100%;color:#78788c;border-bottom:3px solid #78788c}
#KChat_form input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
#KChat_form input:focus{border-bottom:2px solid #78788c}
#KChat_form button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
#KChat_form button:hover{background:#78788c;color:#fff}
#KChat_form span{margin:0 5px 0 15px}

.msg-row {
	line-height: 35px;
	padding: 5px 0px 5px 0px;
	width: 100%;
	position: relative;
	float: left;
	margin: 0px;
}

.message0 {
	float: left;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #5BA548;
	padding: 0px 10px 0px 10px;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #E9FFE6;
	margin: 0px 10px 0px 10px;
}
.message1{
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #002CC6;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #CFEEFF;
	margin: 0px 10px 0px 0px;
}

#KChat_heading_title {
	padding: 14px 0px 14px 10px;
	font-size: 18px;
}