
.navbar,.sidebar,.panel-default > .panel-heading{
	/* background-color:#000; */
}

.main-container{
	background-image:url("../images/bg.png"); 
	background: #FFF;
}

.msg-row{
    line-height: 35px;
    padding: 5px 0px 5px 10px;
    width: 100%;
    position: relative;
    float: left;
}
.message0{
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #5BA548;
	padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #E9FFE6;
}
.message1{
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #002CC6;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #CFEEFF;
	margin: 0px 10px 0px 0px;
}

.scroll_panel{
	height:350px;
	overflow-y: scroll;
	overflow-x:visible;
	width:100%;
}

#messages,#kchatchats,#online{
	display: table;
	width: 100%;
}

.bullet{
	line-height:20px;
	font-size:25px;
	width:8px;
	height:8px;
	color:#3EDB2D;
}

.emojis{
	height: 20px;
}

.emojioneemoji  {
	font-size: inherit;
	height: 2ex;
	width: 2.1ex;
	min-height: 20px;
	min-width: 20px;
	display: inline-block;
	margin: -.2ex .15em .2ex;
	line-height: normal;
	vertical-align: middle;
	max-width: 100%;
	top: 0;
}


.sc1 {
	color: #0000FF;
}
.sc3 {
	color: #FF0000;
}
.sc6 {
	font-weight: bold;
	color: #8000FF;
}

.copy{
	width:16px;
}

.dropdown-menu > li > a {
	display: block;
	padding: 5px 10px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.label-warning {
	background-color: #337ab7;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	width: 400px;
}

.label {
	display: inline;
	padding: 0.2em 0.6em 0.3em;
	font-size: 80%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	margin-right: 10px;
}

.error{
	width: 100%;
	padding: 10px;
	margin: 0px;
	border-color: #f00;
	border-width: 1px;
	background-color: #ffd6d6;
	color: #f00;
	border-style: solid;
}

/* EMBEDDED */
.sc1 {
	color: #0000FF;
}
.sc40 {
}
.sc41 {
	background: #F2F4FF;
}
.sc46 {
	background: #F2F4FF;
}
.sc49 {
	color: #808080;
	background: #F2F4FF;
}
.sc50 {
	font-weight: bold;
	background: #F2F4FF;
}

.sc1 {
	color: #0000FF;
}
.sc3 {
	color: #FF0000;
}
.sc6 {
	font-weight: bold;
	color: #8000FF;
}
.sc8 {
}